<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chennal</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="icon" href="/components/icons/icons8-start-100 1.png" type="image/png">
</head>
<body>
    <div class="connectingBlock">
        <div class="connecBetweenHeaderMain">
            <%- include('../part/header.ejs'); %>
    
            <main class="mainUserCannel">
                <div>
                    <img class="headerChannel" src="../components/icons/image (9) 1.png" alt="headerChannel">
                </div>
            
                <div class="channelData">
                    <div>
                        <img class="channelAvatar" src="../components/icons/icons8-name-100 2.png" alt="ChannelAvatar">
                    </div>
                    <div class="channelInfo">
                        <h3 class="channelName">Football</h3>
                        <ul class="channelInfoItems">
                            <li class="channelInfoItem">/football</li>
                            <li><img class="fullStop" src="../components/icons/icons8-full-stop-30 (1) 1.png" alt="full-stop"></li>
                            <li class="channelInfoItem">2.7 m subscribers</li>
                            <li><img class="fullStop" src="../components/icons/icons8-full-stop-30 (1) 1.png" alt="full-stop"></li>
                            <li class="channelInfoItem">8 videos</li>
                        </ul>
                        <p class="aboutChannel">Football - Лучшие футбольные матчи  #1 цель - стать ведущим информационным институтом развития и популяризации спорта в МИРЕ!</p>
                        <button class="subscribeBtn">Subscribed</button>
                    </div>
                </div>
                
                <div class="groupChannelVideos">
                    <div class="groupBlock">
                        <img class="iconSize20" src="../components/icons/icons8-video-camera-100 1.png" alt="">
                        <h3 class="groupTitile">Videos</h3>
                    </div>
                    <div class="groupVideosBlock">
                        <div class="groupVideoBlock" id="1">
                            <div>
                                <img class="groupVideoImage" src="../components/videoImage/maxresdefault (12).png" alt="">
                            </div>
                            <div class="groupVideoInfoItems">
                                <p class="groupVideoInfoItem">2.7 M views</p>
                                <p class="groupVideoInfoItem">a month ago</p>
                            </div>
                            <div>
                                <h4 class="groupVideoTitle">Phil Foden 2024 - Skills , Goals & Assists - HD</h4>
                            </div>
                        </div>
                        <div class="groupVideoBlock" id="2">
                            <div>
                                <img class="groupVideoImage" src="../components/videoImage/sddefault (1).png" alt="">
                            </div>
                            <div class="groupVideoInfoItems">
                                <p class="groupVideoInfoItem">2.7 M views</p>
                                <p class="groupVideoInfoItem">a month ago</p>
                            </div>
                            <div>
                                <h4 class="groupVideoTitle">Phil Foden 2024 - Skills , Goals & Assists - HD</h4>
                            </div>
                        </div>
                        <div class="groupVideoBlock" id="3">
                            <div>
                                <img class="groupVideoImage" src="../components/videoImage/sddefault (3).png" alt="">
                            </div>
                            <div class="groupVideoInfoItems">
                                <p class="groupVideoInfoItem">2.7 M views</p>
                                <p class="groupVideoInfoItem">a month ago</p>
                            </div>
                            <div>
                                <h4 class="groupVideoTitle">Phil Foden 2024 - Skills , Goals & Assists - HD</h4>
                            </div>
                        </div>
                        <div class="groupVideoBlock" id="4">
                            <div>
                                <img class="groupVideoImage" src="../components/videoImage/maxresdefault (11).png" alt="">
                            </div>
                            <div class="groupVideoInfoItems">
                                <p class="groupVideoInfoItem">2.7 M views</p>
                                <p class="groupVideoInfoItem">a month ago</p>
                            </div>
                            <div>
                                <h4 class="groupVideoTitle">Phil Foden 2024 - Skills , Goals & Assists - HD</h4>
                            </div>
                        </div>
                        <div class="groupVideoBlock" id="5">
                            <div>
                                <img class="groupVideoImage" src="../components/videoImage/maxresdefault (9).png" alt="">
                            </div>
                            <div class="groupVideoInfoItems">
                                <p class="groupVideoInfoItem">2.7 M views</p>
                                <p class="groupVideoInfoItem">a month ago</p>
                            </div>
                            <div>
                                <h4 class="groupVideoTitle">Phil Foden 2024 - Skills , Goals & Assists - HD</h4>
                            </div>
                        </div>
                        <div class="groupVideoBlock" id="6">
                            <div>
                                <img class="groupVideoImage" src="../components/videoImage/maxresdefault (6).png" alt="">
                            </div>
                            <div class="groupVideoInfoItems">
                                <p class="groupVideoInfoItem">2.7 M views</p>
                                <p class="groupVideoInfoItem">a month ago</p>
                            </div>
                            <div>
                                <h4 class="groupVideoTitle">Phil Foden 2024 - Skills , Goals & Assists - HD</h4>
                            </div>
                        </div>
                        <div class="groupVideoBlock" id="7">
                            <div>
                                <img class="groupVideoImage" src="../components/videoImage/maxresdefault (7).png" alt="">
                            </div>
                            <div class="groupVideoInfoItems">
                                <p class="groupVideoInfoItem">2.7 M views</p>
                                <p class="groupVideoInfoItem">a month ago</p>
                            </div>
                            <div>
                                <h4 class="groupVideoTitle">Phil Foden 2024 - Skills , Goals & Assists - HD</h4>
                            </div>
                        </div>
                        <div class="groupVideoBlock" id="8">
                            <div>
                                <img class="groupVideoImage" src="../components/videoImage/maxresdefault (3).png" alt="">
                            </div>
                            <div class="groupVideoInfoItems">
                                <p class="groupVideoInfoItem">2.7 M views</p>
                                <p class="groupVideoInfoItem">a month ago</p>
                            </div>
                            <div>
                                <h4 class="groupVideoTitle">Phil Foden 2024 - Skills , Goals & Assists - HD</h4>
                            </div>
                        </div>
                        <div class="groupVideoBlock" id="9">
                            <div>
                                <img class="groupVideoImage" src="../components/videoImage/maxresdefault (2).png" alt="">
                            </div>
                            <div class="groupVideoInfoItems">
                                <p class="groupVideoInfoItem">2.7 M views</p>
                                <p class="groupVideoInfoItem">a month ago</p>
                            </div>
                            <div>
                                <h4 class="groupVideoTitle">Phil Foden 2024 - Skills , Goals & Assists - HD</h4>
                            </div>
                        </div>
                        <div class="groupVideoBlock" id="10">
                            <div>
                                <img class="groupVideoImage" src="../components/videoImage/maxresdefault.png" alt="">
                            </div>
                            <div class="groupVideoInfoItems">
                                <p class="groupVideoInfoItem">2.7 M views</p>
                                <p class="groupVideoInfoItem">a month ago</p>
                            </div>
                            <div>
                                <h4 class="groupVideoTitle">Phil Foden 2024 - Skills , Goals & Assists - HD</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="/script/menu.js"></script>
</body>
</html>