<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Studio</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="icon" href="/components/icons/icons8-start-100 1.png" type="image/png">
</head>
<body>
    <div class="connectingBlock">
        <div class="connecBetweenHeaderMain">
            <%- include('../part/header.ejs'); %>
    
            <main class="mainContentEditor">
                <div class="pageTitleBlock">
                    <img class="pageTitleIcon" src="../components/icons/icons8-video-camera-100 1.png" alt="">
                    <h1 class="pageTitle">Content</h1>
                </div>
        
                <div id="StudioVideos">
                    <p class="showDataEmpty"></p>
                </div>
            </main>
        </div>
    </div>

    <script src="/script/utils.js"></script>
    <script src="/script/menu.js"></script>
    <script src="/script/studio.js"></script>
</body>
</html>