<header class="searchInstruments">
    <div>
        <input class="searchEngine" type="text" placeholder="Type to text">
    </div>
    <div class="headerPanel">
        <ul class="panelUser">
            <li class="iconPanel">
                <a href="/">
                    <img class="iconSize20" src="../components/icons/icons8-плюс-100 1.png" alt="plus">
                </a>
            </li>
            <li class="iconPanel">
                <a href="/">
                    <img class="iconSize20" src="../components/icons/icons8-menu-100 (4) 2.png" alt="menu">
                </a>
            </li>
            <li class="iconPanel">
                <a href="/">
                    <img class="iconSize20" src="../components/icons/icons8-колокол-100 1.png" alt="coloc">
                </a>
            </li>
        </ul>
        <div>
            <div id="regBtn" class="none">
                <a href="/authentication">
                    <button class="regBtn">
                        <img class="iconSize20 regBtnIcon" src="../components/icons/icons8-войти-100 1.png" alt="login">
                        <h4 class="regBtnContent">Auth</h4>
                    </button>
                </a>
            </div>
            <a href="/settings">
                <div class="none" id="userAvatar">
                    <img class="avatarImage" alt="userAvatar">
                </div>
            </a>
        </div>
    </div>
</header>

<script src="/script/header.js"></script>