        <section class="menu">
            <div class="mainMenu">
                <img class="burgerBtn" src="../components/icons/icons8-меню-100 (2) 1.png" alt="menu">

                <a href="/" class="pagesLink">
                    <div class="headLogo">
                        <img class="logohtube" src="../components/icons/icons8-start-100 1.png" alt="logo">
                        <h1 class="logoName">htube</h1>
                    </div>
                </a>
            </div>
    
            <div class="menuListItems">
                <div>
                    <ul class="menuList">
                        <a href="/">
                            <li class="menuListItem">
                                <img class="menuListItemImg" src="../components/icons/icons8-компас-100.png" alt="">
                                <p class="link">Explore</p>
                            </li>
                        </a>
                        <a href="/">
                            <li class="menuListItem">
                                <img class="menuListItemImg" src="../components/icons/icons8-огонь-100.png" alt="">
                                <p class="link">Trending</p>
                            </li>
                        </a>
                        <a href="/">
                            <li class="menuListItem">
                                <img class="menuListItemImg" src="../components/icons/icons8-ps-контроллер-100.png" alt="">
                                <p class="link">Video game</p>
                            </li>
                        </a>
                        <a href="/">
                            <li class="menuListItem">
                                <img class="menuListItemImg" src="../components/icons/icons8-кнопка-воспроизведения-круглая-100.png" alt="">
                                <p class="link">Subscription</p>
                            </li>
                        </a>
                    </ul>
                </div>
                <hr>
                <div>
                    <ul class="menuList">
                        <a href="/playlist">
                            <li class="menuListItem">
                                <img class="menuListItemImg" src="../components/icons/icons8-playlist-100.png" alt="">
                                <p class="link">Playlist</p>
                            </li>
                        </a>
                        <a href="/history">
                            <li class="menuListItem">
                                <img class="menuListItemImg" src="../components/icons/icons8-прошедшее-время-100.png" alt="">
                                <p class="link">History</p>
                            </li>
                        </a>
                        <a href="/">
                            <li class="menuListItem">
                                <img class="menuListItemImg" src="../components/icons/icons8-избранное-100.png" alt="">
                                <p class="link">Liked videos</p>
                            </li>
                        </a>
                    </ul>
                </div>
                <hr>

                <p class="subtitle">MORE FROM HTUBE</p>
                <div>
                    <ul class="menuList">
                        <a href="/">
                            <li class="menuListItem">
                                <img class="menuListItemImg" src="../components/icons/icons8-box-important-100.png" alt="">
                                <p class="link">Send feedback</p>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>
    <script src="../script/menu.js"></script>